<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="text/html" />
            <mimeMap fileExtension="." mimeType="text/plain" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="hide .php extension" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				</conditions>
				<action type="Rewrite" url="{R:1}.php" />
			</rule>
                <rule name="http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="/admin/login" />
            </rewriteMaps>
        </rewrite>
        <httpErrors errorMode="Detailed">
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://www.exportadv.com.tw/" responseMode="Redirect" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://www.exportadv.com.tw/" responseMode="Redirect" />
            <error statusCode="404" subStatusCode="0" path="https://www.exportadv.com.tw/" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
</configuration>
