.info_title{
    font-size: 35px;
    margin-top:30px;
    margin-bottom: 25px;
    color:$ex_tBlue;
    // display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
}
.info_btn{
    // display: inline-block;
    // vertical-align: middle;
    margin-bottom: 40px;
}
.country{
    li{
        display: inline-block;
        background-color: #ffffff;
        border-radius: 50px;
        padding: 8px 20px;
        border: 1px solid $ex_tBlue;
        margin-right: 8px;
        cursor: pointer;
        margin-bottom: 8px;
    }
    .active{
        background-color:$ex_tBlue;
        color:#ffffff;
    }
}
.country_name{
    font-size: 1.5em;
    margin-bottom: 10px;
}
.margin_bm{
    margin-bottom: 30px;
}
.cou_pic{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;
    img{
        width: 100%;
    }
}
.cou_font{
    font-size: 1.3em;
    text-align: center;
}
.national{
    margin-bottom: 30px;
}




.name{
    border-bottom: 1px solid #ABABAB;
    padding: 30px 0;
    font-size: 1.2em;
    input{
        width: 100%;

    }
    select{
        width: 100%;
        border: none;
        color:#555555;
    }
    textarea{
        width: 100%;
        height: 30px;
    }
}
.tittle_name{
    font-size: 2em;
    border-bottom: 1px solid #53B8B8;
    display: inline;
    padding-bottom: 8px;
    font-weight: 600;
}
.font_Lg{
    font-size: 1.6em;
    line-height: 1.6;
    color:#555555;
    padding: 0 5%;
    font-weight: 600;
    letter-spacing: 1px;
}
.check_images{
    margin: 20px 0;
}


.sitmap_box{
    margin-bottom: 30px;
}
.sitemap_tittle{
    font-size: 1.2em;
    color: $ex_tBlue;
    padding-bottom:10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ABABAB;

}
.sitemap_font{
    li{
        padding: 10px 0;
        font-size: 1em;
        color:#555555;
        border-bottom: 1px solid #cccccc;
    }

}


.searchbar{
    background-color: #042665;
    border-radius: 50px;
    display: inline-block;
    padding: 8px 8px 8px 20px;
    vertical-align: text-bottom;
    color:#ffffff;
    input{
    width: 100%;
    background-color: #042665;
    color:#ffffff!important;
    }
}


.onlinecontent{
    h1{
        color:$ex_tBlue;
        font-size: 35px;
        margin-bottom: 10px;
    }
    h2{
        font-size:28px!important;
        margin-bottom: 10px;
    }
    h3{
    font-size: 22px;
    margin-bottom: 10px;
    }
    h4{
    font-size: 18px;
    margin-bottom: 10px;
    }
    p{
        font-size: 1.3em;
        margin-bottom: 10px;
        img{
            width: 100%;
        }
    }
    ul{
            margin-left: 20px;
        li{
            font-size: 16px;
            line-height: 1.8;
            color: #585858;
            letter-spacing: 2px;
            margin-right: 10px;
            margin-bottom: 10px;
            list-style-image: url("../images/listpoint.svg");
            list-style-type: none;
            margin-left: 25px;
            vertical-align: middle;
        }
    }
    ol{
        margin-left: 20px;
        li{
            list-style: decimal!important;
            font-size: 16px;
            line-height: 1.8;
            color: #585858;
            letter-spacing: 2px;
            margin-right: 10px;
            margin-bottom: 10px;
            list-style-image: url("../images/listpoint.svg");
            margin-left: 25px;
            vertical-align: middle;
        }
    }
}
