@include respond-cozy {
}
@include respond-compact {

}
@include respond-pad {


}
@include respond-mobile {

}
@include respond-mobilephone {
    .info_title{
        font-size: 2em;
    }

    .mls_picbox {
    padding: 6px 6px;
    }
    .picture_wrap {
    margin-top: 40px;
    }
    .fe_tittle{
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .fr_ft{
        font-size: 20px;
    }
    .free_ul{
        margin-left: 0;
        li{
            font-size: 14px;
        }
    }
    .free_check{
        margin-left: 0;
        li{
            font-size: 14px;
        }
    }
    .fe_font{
        font-size: 14px;
    }
    .priv_font{
        li{
            font-size: 14px;
        }
    }
    .goto_btn{
        font-size: 14px;
    }
    .graybg_font{
        font-size: 14px;
    }
    .free_group{
        font-size: 14px;
    }
    .free_g_p{
        font-size: 14px;
    }
    .free_group{
        padding: 10px 17px;
    }
    .grp_box {
    margin-left: 0px;
    }
    .people_name{
        font-size: 14px;
    }
    .issu_name{
        font-size: 18px;
    }
    .free_ex_t_Bg{
        font-size: 16px;
    }
    .free_ex{
        width: 95%;
    }
    .info_title{
        font-size: 20px;
    }
    .free_qa_box{
        padding-left: 0px;
    }
    .graybg_font{
        margin-left: 0;
    }
    .cou_font{
        font-size: 14px;
    }
    .country{
        li{
            border-radius:8px!important;
            font-size: 14px;
        }
    }
    .picture_name{
        font-size: 17px;
    }
    .bu_font{
        font-size: 18px;
    }
    .onlie_qa{
        font-size: 14px;
    }
    .prev_btn {
        li{
            font-size: 14px;
        }
    }
    .uij{
        font-size: 14px;
    }
    .bread_crumb{
        font-size: 14px;
    }
    .kekeke{
        font-size: 14px;
        padding-top: 6px;
    }
    .banner_title{
        font-size: 22px;
    }
    .info_title {
        margin-bottom: 0;
    }
    .free_wrap {
        margin-top: 22px;
    }
    .down_list{
        li{
            font-size: 18px;
        }
    }
    .ft_bold{
        font-size: 16px;
    }
    .ft_font{
        li{
            font-size: 14px;
        }
    }
    .page_title {
    top: 7%;
    left: 7%;
    }
    .country{
        li{
            padding: 4px 10px;
        }
        margin-top: 20px;
    }
    .news_list {
        padding: 10px;
    }
    .nw_line{
        width: 60px;
    }
}
@include respond-phone {
    .picselect{
        margin-bottom: 20px;
    }
    .country {
        li{
            border-radius: 50px;
            padding: 4px 10px;
            border: 1px solid #17A6DC;
            margin-right: 6px;
        }
    }


}
@include respond-phone_xs{
    .info_title{
        font-size: 1.5em;
        margin-bottom: 10px;
        margin-top: 11px;
    }
    .search_picbox{
        padding: 3px 6px;
    }
    .banner_title {
    font-size: 1.3em;
    }
    .page_p {
    font-size: 0.8em;
    }
    .page_title {
    top: 1%;
    left: 12%;
    }
    .bread_crumb {
    font-size: 0.8em;
    }
    .picselect{
        margin-bottom: 7px;
    }
    .picutre_bg{
        margin-bottom: 20px;
    }
    .picture_name {
        font-size: 1.2em;
    }
    .picmu_font {
    padding: 12px 40px;
    }
    .picture_checkboxicon {
    top: 12px;
    }
}
